html, body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('https://plus.unsplash.com/premium_photo-1701646600047-64f07d7b3fdc?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D.jpg');
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.back {
  min-height: 20px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 110px);
  grid-template-rows: repeat(3, 110px);
}

#back1 {
    background-image: url('https://plus.unsplash.com/premium_photo-1720518397764-bd0af1f0b4e2?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D.jpg');
    background-size: cover;
    background-position: center;
}

#back2 {
    background-image: url('https://plus.unsplash.com/premium_photo-1720719926165-717f985123a5?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D.jpg');
    background-size: cover;
    background-position: center;
}

#back3 {
    background-image: url('https://images.unsplash.com/photo-1628155930542-3c7a64e2c833?q=80&w=1674&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D.jpg');
    background-size: cover;
    background-position: center;
}

button {
  margin: 10px;
  font-size: 40px;
  border: 1px solid rgba(0,0,0,.1);
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

button:hover {
  border: 1px solid rgba(0,0,0,0.5);
  cursor: pointer;
}